*{margin: 0px; padding: 0px; line-height: 1.3;}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*      Navigation stuff      */
p{
  font-family: 'Quicksand', sans-serif;
}
#wrapper2
{
  margin-top: 100px;
  background-color: white;
  opacity: 80%;
  display: flex;
  border-radius: 10px;
}

/* Dialog box removal of x icon to close */
.no-close, 
.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar span.ui-dialog-title{
  background: #AD9E2B;
}

/*****        Text content         *****/

.aboutMe1, 
.aboutMe2{
  width: 75%;
  font-size: 20px;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 50px;
}

.aboutMe2{
  margin-bottom: 500px;
}

ul li{padding: 0px 10px;}

h5{
  text-align:center;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  font-size: 1.4rem;
}

h1
{
  padding: 1rem;
  padding-top: 2rem;
  color: black;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 2px solid #AD9E2B;
}

.introduction{
  overflow: hidden;
}

.paraHome{
  text-align: justify;
  padding: 2rem;
  padding-top: 5rem;
  font-size: 22px;
}


/*           Contact form page             */

/* .form-control
{
  background-color: transparent;
  color: black;
  border-color: black;
} */


/*           Image credits             */

ul li{list-style-type: none;}

a{text-decoration: none; color: black;}


.navbar-brand:hover{
  opacity: 0.7;
}


/*      Sections for backgrounds       */

#section1
{
  background-color: #f9f9f9;
  background-size: cover;
  padding-bottom: 5%;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

#section2{
  padding-left: 8%;
  padding-top: 3rem;
}

#backSection{
  background-color: #AD9E2B;
}

/* Contact form buttons */
#contactDialog, #submit, .dialogClose{
  background-color: #AD9E2B;
}
#contactDialog:hover, #submit:hover, .dialogClose:hover{
  background-color: black;
  color: #AD9E2B;
}


/*             Images              */

.card-img-top{
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.portrait, 
.portraitContact
{
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 3rem;
  float: left;
}

.toplogo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.coloradoTopImage{
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


/*  Accordion stuff and footer in this section    */
.foot{
  display: block;  
}

.foot:hover{
  cursor: pointer;
}

.arrow{
  transition: transform .4s ease;
  transform: rotate(180deg);
}

.chevron1, 
.chevron2, 
.chevron3{
  width: 1.5rem;
  height: auto;
}

.conserve, .socialDrop, .credits{
  display: inline-block;
}

.social{
  width: 75%;
  height: auto;
}
.socialDrop > li{
  display: inline-block;
}
.social:hover
{
  opacity: 50%;
}




/*      Navigation section       */

.nav-item:hover{
  background-color: #AD9E2B;
  border-radius: 10px;
}

li.nav-item{
  width: 50%;
}



/* Other posts you may like cards on each page */

.card{
  min-width: 18rem;
  overflow: hidden;
  max-width: 18rem;
  margin: 10px;
}


a.otherPostsLinks:hover{
  opacity: 0.7;
  color: black;
}


h2.otherPosts{
  text-align: center;
  border-top: 2px solid #AD9E2B;
  padding: 2rem;
}

/* Tabs styling and items */

#ui-id-1, #ui-id-2, #ui-id-3{
  color: black;
  background-color: white;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-button:active, .ui-state-default{
  border: 2px solid black;
  border-bottom: none;
  background-color: #f9f9f9;
  color: black;
}


#tabContainer{
  background-color: #f9f9f9;
}

.tabImage, .tabImage2{
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 4rem 1rem 1rem 2rem;
}

.tabParagraph{
  font-size: 20px;
  padding: 3rem;
}



/*******    Responsive breakpoints    *******/

@media (max-width: 1200px)
{
  .paraHome{
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }
  .portrait, .portraitContact, .coloradoTopImage{
    width: 90%;
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .coloradoTopImage{
    margin-bottom: 2rem;
  }
  .introduction{
    width: 100%;
  }
  .tabImage, .tabImage2{
    width: 90%;
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .tabParagraph{
    padding: 1rem;
    font-size: 20px;
    text-align: justify;
  }
}